
<ion-view view-title="商品分类">
	<ion-content>
	    <ul class="type-nav of">
			<li><a href="TypeList.html"><img src="images/type-nave-1.jpg"><span>茶叶</span></a></li>
			<li><a href="TypeList.html"><img src="images/type-nave-2.jpg"><span>干货</span></a></li>
			<li><a href="TypeList.html"><img src="images/type-nave-3.jpg"><span>肉类</span></a></li>
			<li><a href="TypeList.html"><img src="images/type-nave-4.jpg"><span>果蔬</span></a></li>
			<li><a href="TypeList.html"><img src="images/type-nave-5.jpg"><span>水产</span></a></li>
			<li><a href="TypeList.html"><img src="images/type-nave-6.jpg"><span>禽蛋</span></a></li>
		</ul>

		<div class="bte5 bg-fff">
			<h4 class="f14 tc pt10">新品</h4>
			<i class="ico-type-green"></i>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<div class="more-pro tc f12 fc-666 lh35 bbe5">更多</div>
		</div>

		<div class="bte5 mt10 bg-fff">
			<h4 class="f14 tc pt10">热卖</h4>
			<i class="ico-type-orange"></i>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<div class="more-pro tc f12 fc-666 lh35 bbe5">更多</div>
		</div>

		<div class="bte5 mt10 bg-fff">
			<h4 class="f14 tc pt10">推荐</h4>
			<i class="ico-type-orange"></i>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<ul class="two-list-box bg-fff of p10 bbe5">
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
				<li>
					<a href="shopDetail.html">
						<img src="images/guess-pro-1.jpg">
						<h4 class="f13 pt5">农家养殖小樱桃</h4>
						<p class="f12 fc-999">来自农家自产无添加剂</p>
						<p class="fc-ora2 fl-Arial">￥99元/斤</p>
					</a>
				</li>
			</ul>
			<div class="more-pro tc f12 fc-666 lh35 bbe5">更多</div>
		</div>
	</ion-content>
</ion-view>