<ion-view view-title="订单详情">
	<!-- <span ng-show="isShow"> -->
		<ion-nav-buttons side="left">
	        <button ng-show="isShow" ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
	        	<i class="icon ion-ios-arrow-thin-left"></i> 
	        	<span class="back-text" style="-webkit-transform: translate3d(0px, 0px, 0px);">
	        		<span class="default-title hide">Back</span>
	        		<span class="previous-title"></span>
	       		</span>
	        </button>
	    </ion-nav-buttons>
    <!-- </span> -->
	<ion-content>
		<div class="bg-fff p10 bbe5">
			<a href="shpingAdress.html">
				<h4 class="f13 pl10">牛伯伯<span class="ml10 fl-Arial">159****7765</span></h4>
				<p class="fc-666 f13 pl10 lh13 pt5 pr20 pr ico-sjx">
					广东 广州市 天河区 天河北路天润路455号太阳广场中原地产二楼
				</p>
			</a>
		</div>

		<div class="bg-fff p10 bbe5 bte5 mt10">
			<table width="100%">
				<tr>
					<td width="50%" class="f13 fb">农家养殖小樱桃 一斤装</td>
					<td width="20%" class="fc-999 f12">数量：1斤</td>
					<td width="30%" class="fc-ora2 tr fl-Arial f14">￥39</td>
				</tr>
				<tr>
					<td width="50%" class="f13 fb">百香果</td>
					<td width="20%" class="fc-999 f12">数量：1斤</td>
					<td width="30%" class="fc-ora2 tr fl-Arial f14">￥39</td>
				</tr>
				<tr>
					<td width="50%" class="f13 fb">土鸡蛋</td>
					<td width="20%" class="fc-999 f12">数量：1斤</td>
					<td width="30%" class="fc-ora2 tr fl-Arial f14">￥39</td>
				</tr>
			</table>
			<p class="pt10 fc-green f12">支持7天无理由退货</p>
		</div>
		<div class="bg-fff p10 bbe5 of">
			<p class="fl">支付配送</p>
			<div class="fr ico-sjx pr pr20">
				<p class="f12">在线支付</p>
				<p class="f12">韵达快递</p>
			</div>
		</div>
		<div class="bg-fff p10 bbe5 of">
			<p class="fl">发票信息</p>
			<div class="fr ico-sjx pr pr20">
				明细（纸质）个人
			</div>
		</div>

		<div class="bg-fff p10 mt10 bte5 bbe5 of">
			<p class="fl">优惠券</p>
			<div class="fr ico-sjx pr pr20">
				无可用
			</div>
		</div>
		<div class="bg-fff p10 bbe5 of">
			<input type="text" placeholder="给商家留言">
		</div>

		<div class="bg-fff p10 mt10 bte5 bbe5 of">
			<div class="of">
				<p class="fl f13">商品金额</p>
				<p class="fr fc-ora2 fl-Arial">￥2000.00</p>
			</div>
			<div class="of">
				<p class="fl f13">立减</p>
				<p class="fr fc-ora2 fl-Arial">-￥200.00</p>
			</div>
			<div class="of">
				<p class="fl f13">运费</p>
				<p class="fr fc-ora2 fl-Arial">+￥0.00</p>
			</div>
		</div>
		
		<div class="h50 mt10"></div>
	</ion-content>
	<dl class="buyCar-nav of">
		<dd class="fr of">
			<div class="fl p5 pl f12 lh35 pt5 f14">
				<p class="fc-ora2">合计：<span class="fl-Arial">￥312.00</span></p>
			</div>
			<div class="fl go-buy-btn">立即下单</div>
		</dd>
	</dl>
</ion-view>