<ion-view view-title="商品列表">
	<ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
        	<i class="icon ion-ios-arrow-thin-left"></i> 
        	<span class="back-text" style="-webkit-transform: translate3d(0px, 0px, 0px);">
        		<span class="default-title hide">Back</span>
        		<span class="previous-title"></span>
       		</span>
        </button>
    </ion-nav-buttons>

   	<ul class="two-nav-box bbe5">
		<li class="cur">价格<i class="ico-sort"></i></li>
		<li>销量优先<i class="ico-sort none"></i></li>
	</ul>

	<ion-content style="top: 4.5rem">
		
		<div class="bg-fff">
			<dl class="of bbe5 p10 type-list-box">
				<dt class="fl pr">
					<img src="images/guess-pro-1.jpg">
					<p class="f12 fc-999 of type-list-other">
						<span class="fl">购物车</span>
						<span class="fr">加入收藏</span>
					</p>
				</dt>
				<dd class="fl pl10">
					<h4 class="f13 pt5">农家养殖小樱桃 一斤装</h4>
					<p class="f11 lh13 fc-999 mb5">无添加剂，自家种植少农药的，牛伯伯严格把控质检。</p>
					<p class="fc-ora2 f13 of fl-Arial">￥99元/斤 <span class="fr f11 pt5 fc-666">已售：9999</span></p>
					
				</dd>
			</dl>
			<dl class="of bbe5 p10 type-list-box">
				<dt class="fl pr">
					<img src="images/guess-pro-1.jpg">
					<p class="f12 fc-999 of type-list-other">
						<span class="fl">购物车</span>
						<span class="fr">加入收藏</span>
					</p>
				</dt>
				<dd class="fl pl10">
					<h4 class="f13 pt5">农家养殖小樱桃 一斤装</h4>
					<p class="f11 lh13 fc-999  mb5">无添加剂，自家种植少农药的，牛伯伯严格把控质检。</p>
					<p class="fc-ora2 f13 fl-Arial">￥99元/斤 <span class="fr f11 pt5 fc-666">已售：9999</span></p>
					
				</dd>
			</dl>
			<dl class="of bbe5 p10 type-list-box">
				<dt class="fl pr">
					<img src="images/guess-pro-1.jpg">
					<p class="f12 fc-999 of type-list-other">
						<span class="fl">购物车</span>
						<span class="fr">加入收藏</span>
					</p>
				</dt>
				<dd class="fl pl10">
					<h4 class="f13 pt5">农家养殖小樱桃 一斤装</h4>
					<p class="f11 lh13 fc-999 mb5">无添加剂，自家种植少农药的，牛伯伯严格把控质检。</p>
					<p class="fc-ora2 f13 fl-Arial">￥99元/斤 <span class="fr f11 pt5 fc-666">已售：9999</span></p>
				</dd>
			</dl>
		</div>
	</ion-content>

</ion-view>
