<ion-view view-title="积分商城">
	<ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
        	<i class="icon ion-ios-arrow-thin-left"></i> 
        	<span class="back-text" style="-webkit-transform: translate3d(0px, 0px, 0px);">
        		<span class="default-title hide">Back</span>
        		<span class="previous-title"></span>
       		</span>
        </button>
    </ion-nav-buttons>

	<ion-content>
		<img src="images/banner/integral-banner.jpg">
	
		<nav class="integral-nav">
			<ul>
				<li><a href=""><span class="fc-ora2 fl-Arial f14">38</span>积分</a></li>
				<li class="record"><a href="">兑换记录</a></li>
				<li class="rule"><a href="">兑换规则</a></li>
			</ul>
		</nav>
		<h4 class="i-title integral-title bg-fff bte5 bbe5 mt10">积分好礼兑换</h4>
			
		<ul class="integral-product-box of bg-fff">
			<li>
				<a href="">
					<div class="img-box">
						<img src="images/integral-product-1.jpg">
					</div>
					<p class="of pl10 lh20 pr10">
						<span class="fc-666 f13">新西兰菩提子</span>
						<span class="fr ico-integral f14 fc-ora2">300</span>
					</p>
					<p class="f10 pl10 fc-999 pr10">兑换只需支付19元</p>
				</a>
				<p class="free-text">免费领</p>
			</li>
			<li>
				<a href="">
					<div class="img-box">
						<img src="images/integral-product-2.jpg">
					</div>
					<p class="of pl10 lh20 pr10">
						<span class="fc-666 f13">新西兰菩提子</span>
						<span class="fr ico-integral f14 fc-ora2">300</span>
					</p>
					<p class="f10 pl10 fc-999 pr10">兑换只需支付19元</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img-box">
						<img src="images/integral-product-3.jpg">
					</div>
					<p class="of pl10 lh20 pr10">
						<span class="fc-666 f13">新西兰菩提子</span>
						<span class="fr ico-integral f14 fc-ora2">300</span>
					</p>
					<p class="f10 pl10 fc-999 pr10">兑换只需支付19元</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img-box">
						<img src="images/integral-product-3.jpg">
					</div>
					<p class="of pl10 lh20 pr10">
						<span class="fc-666 f13">新西兰菩提子</span>
						<span class="fr ico-integral f14 fc-ora2">300</span>
					</p>
					<p class="f10 pl10 fc-999 pr10">兑换只需支付19元</p>
				</a>
			</li>
		</ul>
	</ion-content>

</ion-view>
