
<ion-view view-title="个人中心">
	<ion-content>
		<a ng-href="{{userUrl}}">
			<div class="user-head mb10">
				<div class="pic-head"></div>
				<span class="name-text" ng-bind="userInfo"></span>
			</div>
		</a>

		<a href="myOrder.html">
			<div class="bte5 bg-fff bbe5 of p10 lh24">
				<b>我的订单</b>
				<span class="look-all f13 fc-999 fr">
					查看更多
				</span>
			</div>
		</a>
		
		<ul class="bottom-nav bbe5 my-progress">
			<li>
				<a href="#">
					<i class="ico-sk"></i>
					<p>待付款</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="ico-fh"></i>
					<p>待发货</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="ico-sh"></i>
					<p>待收货</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="ico-pj"></i>
					<p>待评价</p>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="ico-th"></i>
					<p>退换货</p>
				</a>
			</li>
		</ul>

		<ul class="userCenter-table of bg-fff mt10 bte5">
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-heart-2.png">
					</div>
					<p>我的收藏</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-wdzj-2.png">
					</div>
					<p>我的足迹</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-integral-2.png">
					</div>
					<p>我的积分</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="apply-img img">
						<img src="images/ico/ico-wyh-2.png">
					</div>
					<p>申请卖货</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-address-2.png">
					</div>
					<p>地址管理</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-ask-2.png">
					</div>
					<p>关于</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-phone-2.png">
					</div>
					<p>联系我们</p>
				</a>
			</li>
			<li>
				<a href="">
					<div class="img">
						<img src="images/ico/ico-set-2.png">
					</div>
					<p>设置</p>
				</a>
			</li>
		</ul>
	</ion-content>
</ion-view>