<div class="bg-fff p10 mt10 bte5 bbe5 of">
	<h4 class="guess-title"><i></i>猜你喜欢<i></i></h4>
	<div id="guessBox" class="of">
		<ion-scroll direction="x" scrollbar-x="false" >
			<ul class="guess-pro-box">
				<li>
					<img src="images/guess-pro-1.jpg">
					<h4 class="f13 pt5">农家养殖小樱桃</h4>
					<p class="f12 fc-999">来自农家自产无添加剂</p>
					<p class="fc-ora2 fl-arial">￥99元/斤</p>
				</li>
				<li>
					<img src="images/guess-pro-1.jpg">
					<h4 class="f13 pt5">农家养殖小樱桃</h4>
					<p class="f12 fc-999">来自农家自产无添加剂</p>
					<p class="fc-ora2 fl-arial">￥99元/斤</p>
				</li>
				<li>
					<img src="images/guess-pro-1.jpg">
					<h4 class="f13 pt5">农家养殖小樱桃</h4>
					<p class="f12 fc-999">来自农家自产无添加剂</p>
					<p class="fc-ora2 fl-arial">￥99元/斤</p>
				</li>
			</ul>
		</ion-scroll>
	</div>
</div>