<ion-tabs class="tabs-icon-top tabs-light {{hideTabs}}">
   
     <ion-tab title="商城" icon-off="my-one-store" icon-on="my-store" href="#/niubobo/store">
        <ion-nav-view name="store" ></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="分类" icon-off="my-one-type" icon-on="my-type" href="#/niubobo/classification">
         <ion-nav-view name="classification"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="我优货" icon-off="my-one-wyh" icon-on="my-wyh" href="#/niubobo/cleanCargo">
        <ion-nav-view name="cleanCargo"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="购物车" badge="carBadge" icon-off="my-one-car" icon-on="my-car" href="#/niubobo/shoppingTrolley">
        <ion-nav-view name="shoppingTrolley"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="我的" icon-off="my-one-user" icon-on="my-user" href="#/niubobo/PersonalCenter">
        <ion-nav-view name="PersonalCenter"></ion-nav-view>
    </ion-tab>
</ion-tabs>
