
<ion-view hide-tabs view-title="文章详情">
	<ion-content>
		<div class="f12 p10">
			<p class="f13">牛伯伯来啦~！！！</p>
			<p>2016-06-12 <span class="fc-blue">牛伯伯</span></p>

			<p class="t2 mt15 mb10">
		      	本报讯 （江西日报记者宋海峰 通讯员谌兵）我省农业产业化经营围绕加快农业与二、三产业融合发展，大力发展加工型农业产业化龙头企业，推进农业产业发展升级。今年1至2月份，全省规模以上农产品加工企业实现销售收入566亿元，同比增长9%；全省规v模以上龙头企业实现销售收入720亿元，同比增长10%；省级以上龙头企业实现销售收入506亿元，同比增长9%；省级龙头企业直接带动农户350多万户，户均增收540元。
			</p>
			<img src="images/article-pic.jpg">
			<p class="t2 mt15 mt10 mb10">
	            今年，我省围绕做大做强加工型农业产业化龙头企业，坚持扶大助强、招大引强，大力培育大龙头。今年，全省省级龙头企业将实施项目337个，项目总投资近536亿元；省政府加大扶持力度，加大金融支持力度，筛选一批企业，支持农业龙头企业通过增资扩股等形式，做大一批规模大、产业支撑力强的大宗农产品加工企业，不断延伸产业链条，提高农产品附加值和竞争力。围绕五大主导产。
			</p>
			<img src="images/user-ad.png">
		</div>		

	</ion-content>
</ion-view>