<div id="Dragable">
	<ul class="list-box">
		<li>
			<a href="shopDetail.html">
				<img src="images/pro-1.jpg">
				<p class="f11 fb f12">农家养殖小樱桃</p>
				<p class="fc-ora2">￥39/斤</p>
			</a>
		</li>
		<li>
			<a href="shopDetail.html">
				<img src="images/pro-1.jpg">
				<p class="f11 fb f12">农家养殖小樱桃</p>
				<p class="fc-ora2">￥39/斤</p>
			</a>
		</li>
		<li>
			<a href="shopDetail.html">
				<img src="images/pro-1.jpg">
				<p class="f11 fb f12">农家养殖小樱桃</p>
				<p class="fc-ora2">￥39/斤</p>
			</a>
		</li>
		<li>
			<a href="shopDetail.html">
				<img src="images/pro-1.jpg">
				<p class="f11 fb f12">农家养殖小樱桃</p>
				<p class="fc-ora2">￥39/斤</p>
			</a>
		</li>
	</ul>
</div>
